<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Volver atras</a>
    </nav> 
    <h1>Registrarse</h1>
    <h3>Ingrese los datos solicitados:</h3>
   
    <form action="{% url 'crear_cliente' %}" method="POST">
        {% csrf_token %}
        <p>
        Nombre:    
        <input type="text" name="nombre">
        </p>
        <p>
        Apellido:    
        <input type="text"name="apellido">
        </p>
        <p>
        Documento:
        <input type="number"name="documento">
        </p>
        <p>
        Localidad:    
        <input type="text"name="localidad">
        </p>
        <p>
        <input type="submit" value="Crear usuario">
        
        </p>
    </form>
</body>
</html>