<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <nav>
    <a href={% url "crear_cliente" %}>Registrarse</a>
    <a href={% url "lista" %}>Listado de clientes</a>
   </nav> 
<h1>Comprá Online </h1>
    <h2>Bienvenido a nuestra pagina oficial </h2>
    <h3>Nuestros productos: </h3>
    <p>
    <h5>Heladera con freezer Gafa HGF368AFB Blanca 330lts /// Valor :$674.199,00</h5>
    <h5>Heladera Cíclica Philco Top Mount 340 Lts Negra Phct340nd-01 Color Negro /// Valor :$639.999,00</h5>
    <h5>Heladera Drean Hdr280f00 Blanca Con Freezer 264l 220v Color Blanco /// Valor :$623.999,00</h5>
    <h5>Heladera Inverter No Frost Midea /multi Door 470lts Color Inox /// Valor :$2.656.539,19</h5>
    <h5>Heladera minibar Frimax 48 Litros black silver 48L 220V /// Valor :$198.899,00</h5>
    </p>
</body>
</html>     